[Desktop Entry]
Version=1.0
Type=Application
Name=PipeWalker
Comment=Connect all hosts to network!
Comment[ru]=Объедините все компьютеры в сеть!
Comment[fr]=Connectez tous les ordinateurs au réseau!
TryExec=pipewalker
Exec=pipewalker
Categories=Game;LogicGame;
Icon=pipewalker.xpm
MimeType=
