/**************************************************************************
 *  PipeWalker game (http://pipewalker.sourceforge.net)                   *
 *  Copyright (C) 2007-2010 by Artem A. Senichev <artemsen@gmail.com>     *
 *                                                                        *
 *  This program is free software: you can redistribute it and/or modify  *
 *  it under the terms of the GNU General Public License as published by  *
 *  the Free Software Foundation, either version 3 of the License, or     *
 *  (at your option) any later version.                                   *
 *                                                                        *
 *  This program is distributed in the hope that it will be useful,       *
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of        *
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         *
 *  GNU General Public License for more details.                          *
 *                                                                        *
 *  You should have received a copy of the GNU General Public License     *
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>. *
 **************************************************************************/

#include <windows.h>
#include "PipeWalkerRes.h"

#define PW_VERSION_TEXT "0.9.1"
#define PW_VERSION_NUM  0,9,1,0


//Icon resources
LANGUAGE 0, SUBLANG_NEUTRAL
IDI_PIPEWALKER  ICON "extra\\pipewalker.ico"

// Version Information resources
LANGUAGE 0, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     PW_VERSION_NUM
    PRODUCTVERSION  PW_VERSION_NUM
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_UNKNOWN
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription",  "PipeWalker game"
            VALUE "FileVersion",      PW_VERSION_TEXT
            VALUE "InternalName",     "PipeWalker"
            VALUE "LegalCopyright",   "Copyright 2007-2010 Artem A. Senichev"
            VALUE "OriginalFilename", "PipeWalker.exe"
            VALUE "ProductName",      "PipeWalker game"
            VALUE "ProductVersion",   PW_VERSION_TEXT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
